.section_center {
  width: 90vw;
  margin: 0 auto;
  max-width: 55rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 2rem;
}

.section_center p {
  text-align: center;
}

@media screen and (min-width: 800px) {
  .section_center {
    width: 95vw;
  }
}
