.form_control {
  display: flex;
  justify-content: center;
}

.diary {
  padding: 0.25rem;
  padding-left: 1rem;
  background: var(--clr-bcg);
  border-color: transparent;
  font-size: 1rem;
  flex: 1 0 auto;
  height: 3rem;
  color: var(--clr-text-font);
  resize: none;
  font-family: "Noto Sans KR", sans-serif;
}
.diary::placeholder {
  font-family: "Noto Sans KR", sans-serif;
  color: var(--clr-text-font);
}
.submit_btn {
  background: var(--clr-submit-btn);
  border-color: transparent;
  flex: 0 0 5rem;
  display: grid;
  align-items: center;
  padding: 0.25rem;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.3s linear;
  font-size: 1rem;
  font-family: "Noto Sans KR", sans-serif;
}
.submit_btn:hover {
  color: var(--clr-submit-btn-hover-font);
  background: var(--clr-submit-btn-hover);
}
