footer {
  position: relative;
  transform: translateY(-100%);
}
.footer_message {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  color: var(--clr-grey-5);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.copyright {
  margin-bottom: 0;
}

.githubLogo {
  width: 1.5rem;
  margin-left: 0.2rem;
}
