/* Navbar */

.nav_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}
.nav_toggle {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}
.nav_toggle_menu {
  color: var(--clr-menu-btn);
  stroke: var(--clr-menu-btn);
}
.theme_toggle_sub {
  display: none;
}

.button_container {
  display: flex;
}

.theme_toggle_main {
  display: inline-block;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: 0.5rem;
}

.theme_toggle_main_img :hover {
  background-color: var(--clr-theme-btn-hover-bcg);
  border-radius: 1rem;
}
.theme_toggle_main_img img {
  padding: 0.2rem;
}

.logo {
  height: 31px;
  fill: var(--clr-menu-btn);
}
.links a {
  color: var(--clr-menu-font);
  font-size: 1.2rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  display: block;
  padding: 0.5rem 1rem;
}
.links a:hover {
  background: var(--clr-menu-hover-bcg);
  color: var(--clr-menu-hover-font);
}
.links .login_btn {
  font-weight: 600;
}

.links {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}

.show_links {
  height: 10.5rem;
}
@media screen and (min-width: 800px) {
  .nav_center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.7rem;
  }
  .nav_header {
    padding: 0;
  }
  .nav_toggle {
    display: none;
  }

  .menu_center {
    display: flex;
    align-items: stretch;
  }

  .theme_toggle_sub {
    display: inline-block;
    background: transparent;
    cursor: pointer;
    border: none;
    margin-right: 0.5rem;
  }

  .theme_toggle_sub_img {
    overflow: auto;
  }

  .theme_toggle_sub_img img {
    padding: 0.2rem;
  }
  .theme_toggle_sub_img :hover {
    border-radius: 1rem;
    background-color: var(--clr-theme-btn-hover-bcg);
  }

  .theme_toggle_main {
    display: none;
  }
  .links {
    height: auto;
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover:not(.login_btn) {
    padding: 0;
    background: transparent;
    color: var(--clr-menu-hover-bcg);
  }

  .links .login_btn {
    border-radius: 3rem;
    background: var(--clr-menu-btn);
    color: var(--clr-menu-btn-font);
    padding: 0 1rem;
    font-weight: 400;
  }
}
