.section_center {
  width: 90vw;
  margin: 0 auto;
  max-width: 55rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 2rem;
}

.section_center p {
  text-align: center;
}

.btn_container {
  text-align: center;
}

.login_btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}
.login_img {
  width: 50vw;
  height: auto;
}

@media screen and (min-width: 800px) {
  .section_center {
    width: 95vw;
  }
  .login_img {
    width: 15vw;
    height: auto;
  }
}
