@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Kanit&family=Noto+Sans+KR&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  background: #f9f9f9;
  line-height: 1.5;
  font-size: 0.875rem;
  height: 100vh;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h3 {
  letter-spacing: 0.1rem;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.7rem;
}

p {
  margin-bottom: 1.25rem;
  color: #30363b;
}
.wrap {
  height: auto;
  min-height: 100%;
  padding-bottom: 84px;
}

@media screen and (min-width: 800px) {
  h3 {
    font-size: 2.5rem;
    line-height: 1;
  }

  body {
    font-size: 1rem;
  }
}
